@for $row from 0 through 3 {
  @for $column from 0 through 3 {
    .position_#{$row}_#{$column}:not(.isMoving) {
      top: 122px * $row + 6px;
      left: 122px * $column + 6px;
    }
  }
}

@for $fromRow from 0 through 3 {
  @for $toRow from 0 through 3 {
    $name: row_from_#{$fromRow}_to_#{$toRow};

    @if $fromRow == $toRow {
      .#{$name} {
        top: 122px * $toRow + 6px;
      }
    } @else {
      .#{$name} {
        animation-duration: 0.20s;
        animation-name: $name;
        animation-fill-mode: forwards;
      }

      @keyframes #{$name} {
        from {
          top: 122px * $fromRow + 6px;
        }
        to {
          top: 122px * $toRow + 6px;
        }
      }
    }
  }
}

@for $fromColumn from 0 through 3 {
  @for $toColumn from 0 through 3 {
    $name: column_from_#{$fromColumn}_to_#{$toColumn};

    @if $fromColumn == $toColumn {
      .#{$name} {
        left: 122px * $toColumn + 6px;
      }
    } @else {
      .#{$name} {
        animation-duration: 0.20s;
        animation-name: $name;
        animation-fill-mode: forwards;
      }

      @keyframes #{$name} {
        from {
          left: 122px * $fromColumn + 6px;
        }
        to {
          left: 122px * $toColumn + 6px;
        }
      }
    }
  }
}
